player-connection-mode=Listen
player-connection-guid=2186955883
player-connection-debug=0
player-connection-project-name=Les Anges de la Nuit - Classique
player-connection-ip=192.168.56.1
player-connection-ip=192.168.0.42
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
